<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burn Out Rate Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        
        <h1>Burn Out Rate Predictor</h1>
        <form id="employee-form" action="/predict" methsod="post">
            <fieldset>
                <legend >Employee Information</legend>
                <div class="row">
                    <div class="column">
                        <label for="Mental_Fatigue_Score">Mental Fatigue Score:</label>
                        <input type="number" step="any" id="Mental_Fatigue_Score" name="Mental Fatigue Score" min="0">
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="Gender">Gender:</label>
                        <select id="Gender" name="Gender">
                            <option value="0">Female</option>
                            <option value="1">Male</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="Company_Type">Company Type:</label>
                        <select id="Company_Type" name="Company Type">
                            <option value="0">Product</option>
                            <option value="1">Service</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="Remote">Remote:</label>
                        <select id="Remote" name="Remote">
                            <option value="0">On Site</option>
                            <option value="1">Remote</option>
                            
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="Designation">Designation:</label>
                        <select id="Designation" name="Designation">
                            <option value="1">Entery</option>
                            <option value="2">Associate</option>
                            <option value="3">Senior</option>
                            <option value="4">Director</option>
                            <option value="5">Executive</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <label for="Resource">Resource:</label>
                        <select id="Resource" name="Resource">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </fieldset>   
            <!--<input type="submit" value="Predict">-->

        <button >Predict</button> 
    
                                              
        </form>
        
    </div>
</body>
</html>
