<!DOCTYPE html>
<html lang="en">
<head>
    <title>Predicted Burn Out Rate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predicted Burn Out Rate</h1>
        <div class="lable-container">
            <label id="predicted_id">Your predicted burn out rate is:</label>
        </div>        
        <div class="prediction-container">
            <p>{{ prediction }}%</p>
        </div>
        <div class="link-container">
            <a href="/">home</a>

        </div>
    </div>
</body>
</html>
